/* set the font size to 62.5% of the parent perfect for rem unit 1rem = 10px */
html{
    font-size: 62.5%;
  }
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}