.restart-modal{
    position: absolute;
      inset: 0; 
      top: 100vh / 2; 
      left: 100vw / 2; 
      width: 100vw;
      height: 100vh;
      background-color: rgba(0,0,0,0.8); 
      color: white;
      text-align: center;
      padding: 1rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column; 
      justify-content: center;
      align-items: center;
      z-index: 1000;
      font-size: 1.8rem;
    }
.restart-button{
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: darkgreen;
    color: lightyellow;
    font-weight: bolder;
}
.game-over{
    font-size: 2rem;
    font-weight: bold;
}
.score{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}
